h1,
h2 {    
    text-align: center;
    color: aliceblue;
}

h1 {
    font-size: 1rem;

}

h2 {
    font-size: 3rem;
    font-weight: bold;
}

.fallback {
    text-align: center;
    color: aliceblue;
}